@import 'variables';

#mbMountPoint {
  width: 100%;

  * {
    box-sizing: border-box;
  }
}

.mb-app {
  @mb-app-header-height: 60px;
  width: 100%;
  padding: @mb-app-header-height 20px 0 20px;
  color: @mb-font-color;
}
