.mb-app-header {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  transition: background 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @body-bg;

  &.translucent {
    background: rgba(0, 0, 0, 0.8);
  }

  > .header-left {
    height: 100%;
    display: flex;
    align-items: center;

    > .header-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      > .nav-show-btn {
        width: 24px;
        height: 24px;
        font-size: 28px;
        color: white;
      }

      > .mb-logo {
        width: 120px;
        height: 40px;
        background: url('images/mb-logo.png') no-repeat;
        background-size: contain;
      }
    }
    > .background {
      display: none;
      position: fixed;
      top: 50px;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba(0,0,0,.4);

      &.active {
        display: block;
      }
    }
  }
}
