.mb-app-header {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: @mb-app-header-height;
  transition: background 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.4rem;
  background-color: @body-bg;

  &.translucent {
    background: rgba(0, 0, 0, 0.8);
  }

  > .header-left {
    height: 100%;
    display: flex;
    align-items: center;

    > .header-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      > .nav-show-btn {
        width: 0.48rem;
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.56rem;
        color: white;
      }

      > a.mb-logo {
        display: block;
        width: 2.4rem;
        height: 0.6rem;
        background: url('images/mb-logo.png') no-repeat;
        background-size: contain;
      }
    }
    > .background {
      display: none;
      position: fixed;
      top: @mb-app-header-height;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba(0,0,0,.4);

      &.active {
        display: block;
      }
    }
  }
}
