.mb-home {

}

.mb-section-header {
  color: @mb-font-color;
  padding-top: 0.3rem;
  padding-bottom: 0.15rem;

  h2 {
    font-weight: 700;
    font-size: @font-size-large;
  }
}

.mb-home-section {
  overflow: hidden;
  padding-left: 0.4rem;

  .section-content {
    overflow-x: scroll;
    overflow-y: hidden;

    height: 4.1rem;
    padding-bottom: 1em;
    margin-bottom: -1em;
    white-space: nowrap;

    ul.movie-covers {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-right: 0.4rem;

      li.movie-cover {
        width: 2rem;
        height: 100%;

        padding-right: 4px;

        &:last-child {
          padding-right: 0.4rem;
        }
      }
    }
  }
}
