.mb-home {

}

.mb-home-row {
  .head {

  }

  .mb-home-row-content {
    height: 140px;
    overflow-x: scroll;

    .movie-covers {
      width: 2000px;

      .movie-cover {
        width: 100px;
        height: 140px;
        background-size: cover;
        display: inline-block;
      }
    }
  }
}
