.mb-navigation-slider {
  position: fixed;
  top: @mb-app-header-height;
  left: 0px;
  bottom: 0px;

  width: 3.8rem;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(-3.8rem);
  transition: transform 150ms cubic-bezier(.5,0,.1,1),-webkit-transform 150ms cubic-bezier(.5,0,.1,1);
  color: @mb-font-color;
  font-size: @font-size-base;
  line-height: @font-size-base;

  background: @body-bg;

  &.open {
    transform: translateX(0rem);
  }
  > ol {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      padding-left: 0.3rem;
      border-left: 0.1rem solid transparent;

      a {
        color: inherit;
        text-decoration: none;
      }

      &.selected {
        border-left: 0.1rem solid #B9090B;
        color: #fff;
      }
    }
  }
  > .navigation-user-list {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  > .navigation-category-list {
    border-top: 1px solid #333;
    padding-top: 4px;
  }
}
